//Created by Harwin on 2016/2/18.
link(href='/assets/aries/css/base/aries-base.css' rel='stylesheet' type='text/css')
link(href='/fe-common/css/animate.min.css' rel='stylesheet' type='text/css')
link(href='/Material-Design-Icon/style.css' rel='stylesheet' type='text/css')
link(href='/fe-common/webuploader/uploader.css')
script(src="../../../assets/aries/lib/jquery.js")
script(src="../../../assets/aries/main/sea.js")

